<% provide(:title, 'Home') %>
<h1>Home Feed</h1>

<% if signed_in? %>
  <%= render 'shared/group_feed' %>
  <div class="row">
  <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/user_stats' %>
      </section>
      <section>
        <%= render 'shared/post_form', object: current_user.id  %>
      </section>
    </aside>
  	<div class="span8">
      <!--<h3>Post Feed</h3>-->
      <%= render 'shared/user_post_feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Test App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
