<%= form_for(current_user.memberships.build(group_id: @group.id, user_id: current_user.id), remote: true) do |f| %>
  <div><%= f.hidden_field :group_id %></div>
    <div><%= f.hidden_field :user_id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>