<% provide(:title, @group.name) %>
<p id="notice"><%= notice %></p>
<% if signed_in? %>
  <%= render 'shared/group_feed' %>
    <div class="row">

<aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/user_stats' %>
      </section>
      <section>
        <%= render 'shared/post_form', object: @group.id %>
      </section>
    </aside>

<div class="gdescription">	
	<p>
  		<strong>Name:</strong>
 		 <%= @group.name %>
	</p>
	<p>
  		<strong>Description:</strong>
  		<%= @group.description %>
	</p>
	<p>
  		<strong>Visibile:</strong>
  		<%= @group.visibile %>
	</p>
</div>
<div class="ginfo">
<section>
        <%= render 'shared/group_stats' %>
</section>
<%= link_to 'Edit', edit_group_path(@group) %>
</div>
    <%= render 'follow_form' if signed_in? %>
<div class="span8">
<!--      <h3>Feed</h3>-->
  <%= render 'shared/user_post_feed' %>
</div>
  </div>

<% end %>