<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
  <!--    < %= gravatar_for @group %> -->
      <h1><%= @group.name %></h1>
      <span><%= link_to "view my profile", @group %></span>
      <!--<span><b>Posts:</b> < %= @user.posts.count %></span>-->
    </section>
    <section>
      <%= render 'shared/group_stats' %>
    
    <!--  <  if @users.any? %>     -->
    <!--    <div class="user_avatars">  -->
    <!--      < % @users.each do |user| %>  -->
    <!--        < %= link_to gravatar_for(user, size: 30), user %>  -->
    <!--      < % end %> -->
    <!--    </div>  -->
     
   <!--  < % end %> -->
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate @users %>
    <% end %>
  </div>
</div>