<% provide(:title, @user.username) %>

<p id="notice"><%= notice %></p>
<% if signed_in? %>
  <%= render 'shared/group_feed' %>


<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @user.display_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>
<div class="span8">
  <%= render 'shared/user_post_feed' %>
  </div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% end %>