<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>

   <!--   %= gravatar_for @user %> -->

      <h1><%= @user.username %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Posts:</b> <%= @user.posts.count %></span>
    </section>
    <section>
      <%= render 'shared/user_stats' %>
      
   <!--   < % if @users.any? %>  -->
   <!--     < div class="user_avatars">   -->
   <!--       < % @users.each do |user| %>   -->
   <!--         < %= link_to gravatar_for(user, size: 30), user %>   -->
   <!--       < % end %>   -->
   <!--     < /div>   -->
   <!--   < % end %>   -->


    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @groups.any? %>
      <ul class="groups">
        <%= render @groups %>
      </ul>
      <%= will_paginate @groups %>
    <% end %>
  </div>
</div>