<% if @group.id == group_feed_item.group.id %>
<div id="<%= group_feed_item.id %>" class="group_feed_item_selected">
<% else %>
<div id="<%= group_feed_item.id %>" class="group_feed_item">
<% end %>
  <!-- link_to gravatar_for(feed_item.user), feed_item.user %> -->
  <span class="group">
    <%= link_to group_feed_item.group.name, group_feed_item.group %>
  </span>
  <span class="description"><%= group_feed_item.group.description %></span>
  <span class="delete">
  	[X]
  </span>
</div>