<% @group ||= current_user %>
<div class="stats">
  <a href="<%= members_group_path(@group) %>">
    <strong id="members" class="stat">
      <%= @group.users.count %>
    </strong>
    members
  </a>
</div>