<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %> 
  <div class="field">
    <%= f.text_area :text_content, placeholder: "Compose new post..." %>
    <%= f.hidden_field :group_id, :value => object %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>