<li id="<%= user_post_feed_item.id %>" class="post">
  <%=link_to gravatar_for(user_post_feed_item.user), user_post_feed_item.user %>
  <span class="displayname">
    <%= user_post_feed_item.user.display_name %>
  </span>
  <span class="user">
    <%= link_to user_post_feed_item.user.username, user_post_feed_item.user %>
  </span>
  <div class="content"><%= user_post_feed_item.text_content %></div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(user_post_feed_item.created_at) %> ago.
  </span>
  <span class="delete">
  	[X]
  </span>
</li>