<!-- = link_to gravatar_for(current_user, size: 52), current_user %> -->
<h1>
  <%= current_user.username %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.posts.count, "post") %>
</span>