<% @user ||= current_user %>
<div class="stats">
  <a href="<%= groups_user_path(@user) %>">
    <strong id="groups" class="stat">
      <%= @user.groups.count %>
    </strong>
    groups
  </a>

  
</div>