<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @post.group_id %>
</p>

<p>
  <strong>Media content:</strong>
  <%= @post.media_content %>
</p>

<p>
  <strong>Text content:</strong>
  <%= @post.text_content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
