@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #eaeaea;
$grayLighter: #eaeaea;
$blue: #eaeaea;
$gray: #eaeaea;
$grayDarker: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.gravatar {
  padding: 5px;
  float:left;
  height:50px;
}

.posts {
  border:1px solid gray;
  border-radius:5px;
  padding-top:10px;
}
.post {
  border-bottom:1px solid gray;
  margin-top:3px;

}

.displayname {
  display:inline;
  font-size:14px;
  font-weight:bold;
}
.user {
  
}
.content {
  
}

.ginfo {
  float:left;
  margin-right:20px;
}
.gdescription {
  float:left;
  margin-right:20px;
}

.span4{
  float:right;
}

.container {
  margin-left:300px;
}

/* group feed */
#group_feed
{
//float:left;
display:block;
width:1000px;
background-color:#dddddd;
width:250px;
height:90vh;
padding:10px;
border:5px solid gray;
margin:10px;
overflow:scroll;
margin-left:10px;
position:fixed;
left: 0px; top: 40px;
}
.selected {
  background-color:#ffffff;
}
.group_feed_item
{
padding:10px;
margin:5px;
border:5px solid gray;

}

.group_feed_item_selected
{
padding:10px;
margin:5px;
border:5px solid gray;
background-color:#ffffff;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}