<footer class="footer">
  <small>
    <a href="http://google.com/">Test App</a>
    by Matt Ferrell
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.google.com/">News</a></li>
    </ul>
  </nav>
</footer>